div{
    position: absolute;
    top: 2%;
    left: 1%;
    min-width: 350px;
    border: none;
    border-radius: 4px;
    padding-left: 40px;
    right: 48%;
}
input{
    width: 300px;
    min-width: 10px;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    /*background-color: whitesmoke;*/
    border-bottom: 2px solid black;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}
input:focus{
    outline: none;
    color: black;
    background-color: rgba(231, 236, 240, 0.35);
}
button{
    margin: 20px;
    width: 80px;
    border-radius: 4px;
    height: 30px;
    color: white;
    font-size: 18px;
    border: none;
    background-color: rgb(175, 102, 243);
}
.container{
    position: absolute;
    top: 2%;
    left: 48%;
    
    
}
.img-container{
    overflow: hidden;
    left: 0%;
}
